:root {
    --navbar-bg-color: #3d6614;
    --default-font-color: rgb(31, 53, 9);
    --default-bg-color: #adcc8d;
    --result-color: #9fb489;
    --result-font-color: #4a5242;
}
  
.content-container{
    padding: 25px;
}

label {
    padding-right: 15px;
}

p, label, span{
    color: var(--default-font-color)
}

input {
    background: var(--default-bg-color);
    color: var(--default-font-color)
}

h2 {
    padding-bottom: 15px;
}

table th, td {
    vertical-align: top;
}

table td {
    padding-bottom: 15px;
}

.date-inputs-container{
    display: flex;
    flex-direction: row;
}

.observation-list {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}

.observation-list-item {
    margin: 5px;
    padding: 20px;
    background: var(--default-bg-color);
    border-radius: 15px;
    min-width: 360px;
    max-width: 360px;
}

.result-container{
    margin: 5px;
    padding: 20px;
    background: var(--result-color);
    color: var(--result-font-color);
    border-radius: 15px;
    min-width: 360px;
    max-width: 360px;
    height: 100px;
}

.prediction-result-container{
    display: flex;
    flex-direction: row;
    max-width: 360px;
}

.float-right{
    float: right;
}