{% extends 'base.html' %}

{% load staticfiles %}
{% block extra_js %}
<script src="{% static 'australian_weather_app/js/observations.js' %}"></script>
{% endblock %}

{% block title %}Manage observations{% endblock %}

{% block content %}
<div class="content-container">
    <h2>Manage observations</h2>

    <script type="text/javascript">
        delete_url = "{% url 'delete_observation' %}"
    </script>
    {% if observations %}
    <div class="observation-list">
        {% for observation in observations %}
        <div class="observation-list-item">
            {% include 'observations/observation_item.html'%}

            {% if observation.observer.id == user.id %}
            <div class="float-right">
                <a href={% url 'edit_observation' observation.id %} class='btn btn-success'>Edit</a>
                <button class='btn btn-success' onclick="remove('{{ observation.id }}', delete_url)">Remove</button>
            </div>
            {% endif %}
        </div>

        {% endfor %}

        {% else %}
        Nothing to display
        {% endif %}
    </div>
</div>
{% endblock %}